/* Vesper Palette */
@define-color bg #101010;
@define-color fg #F0F0F0;
@define-color gold #FFC799;
@define-color grey #252525;
@define-color red #FF5D62;
@define-color green #99FFE4;
@define-color blue #9CACFF;

* {
    border: none;
    border-radius: 0;
    font-family: "DepartureMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @fg;
}

tooltip {
    background: @bg;
    border: 1px solid @gold;
    border-radius: 10px;
}

/* --- LEFT: WORKSPACES & TASKBAR --- */
#workspaces {
    background: @bg;
    margin-left: 10px;
    padding: 0px 10px;
    border-radius: 20px;
    border: 1px solid @grey;
}
#workspaces button.active {
    color: @gold;
    font-size: 18px;
}
#workspaces button:hover {
    color: @fg;
    background: transparent;
}

/* OPEN APPS (Taskbar) */
#taskbar {
    background: @bg;
    margin-left: 10px;
    padding: 0px 5px;
    border-radius: 20px;
    border: 1px solid @grey;
}

#taskbar button {
    padding: 0px 10px;
    margin: 0px 2px;
    border-radius: 15px;
    color: @fg;
    transition: all 0.3s ease;
}

#taskbar button.active {
    background: @grey; /* Highlights the focused window */
    border-bottom: 2px solid @gold; /* Subtle gold underline */
}

#taskbar button:hover {
    background: @grey;
    color: @gold;
}

/* --- CENTER: MEDIA --- */
#mpris {
    background: @bg;
    color: @gold;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid @grey;
    min-width: 150px;
}
#mpris.paused {
    color: @fg;
    font-style: italic;
}

/* --- RIGHT: CLOCK & HARDWARE --- */
#clock {
    background: @bg;
    color: @gold;
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid @grey;
}

#pulseaudio, #network, #battery, #tray {
    background: @bg;
    color: @fg;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid @grey;
}

#pulseaudio { color: @green; }
#network { color: @blue; }
#battery.charging { color: @green; }
#battery.warning { color: @gold; }
#battery.critical { color: @red; }
